In [1]:
import pandas as pd

In [2]:
r_col_names=['is_app_event', 'visitor_id', 'id', 'visit_id', 'tracking_time', 'created_at', 'story_id', 'user_id']

In [3]:
reading=pd.read_csv("reading.csv",names=r_col_names,skiprows=1,parse_dates=['tracking_time'])

In [4]:
reading.head()

,is_app_event,visitor_id,id,visit_id,tracking_time,created_at,story_id,user_id
0,False,22ac4ffa-9ba4-4eb5-a027-48bc4fd67ef2,e855b15a-c0dd-4b5f-a82b-642ce6f32bcb,1ff3c16e-fc20-4319-8720-f64be2079f90,2017-06-29 21:49:49.490028,2017-06-29T21:49:49.492249,18965,NaN
1,False,22ac4ffa-9ba4-4eb5-a027-48bc4fd67ef2,5a1f4e84-0398-4343-a427-6fe37a12d5fa,1ff3c16e-fc20-4319-8720-f64be2079f90,2017-06-29 21:50:08.757155,2017-06-29T21:50:08.759166,18965,NaN
2,False,22ac4ffa-9ba4-4eb5-a027-48bc4fd67ef2,76de6153-1cf3-42f3-9760-66640dab3625,1ff3c16e-fc20-4319-8720-f64be2079f90,2017-06-29 21:50:14.990401,2017-06-29T21:50:14.993954,18965,NaN
3,False,22ac4ffa-9ba4-4eb5-a027-48bc4fd67ef2,cbde3a3f-61ad-4e66-a700-378ef8abf0e7,1ff3c16e-fc20-4319-8720-f64be2079f90,2017-06-29 21:49:57.767483,2017-06-29T21:49:57.770071,18965,NaN
4,False,0b69e76c-c8f6-408d-a5b5-836a18bb9b52,0a718513-29f2-4c35-b186-705a1536f8f1,959ad75a-11db-40e0-9d7a-4364f644686f,2015-12-05 11:38:20.184999,2015-12-05T11:38:20.184999,24674,45042

In [5]:
s_col_names=['story_id', 'user_id', 'teaser', 'title', 'cover', 'category_one', 'category_two']

In [6]:
stories=pd.read_csv("stories.csv",names=s_col_names,skiprows=1)

In [7]:
stories.head()

,story_id,user_id,teaser,title,cover,category_one,category_two
0,18965,5242,"A story of Horror, a story of Tragedy. Pain, v...",EXE,d69810df7ed140322435505f81cad7eb.jpg,horror,other
1,18966,19465,NaN,Untitled,NaN,NaN,NaN
2,18967,18598,John and Amarildo were the best of friends gro...,My Best Friend,895e1732b870e88f79f302fbb814bc72.jpg,horror,drama
3,18968,19465,NaN,Untitled,NaN,NaN,NaN
4,18969,19507,A MET detective investigates a mysterious part...,The Party,5054c0f875c89a69a153d225c2912d42.jpg,fantasy,mystery

In [8]:
v_col_names=['visitor_id', 'user_id', 'country', 'timezone', 'location_accuracy']

In [9]:
visits=pd.read_csv("visits.csv",names=v_col_names,skiprows=1)

In [10]:
visits.head()

,visitor_id,user_id,country,timezone,location_accuracy
0,d63e6402-9b67-44a6-a8aa-18b2bde545c0,45042,United Kingdom,Europe/London,20
1,39982811-d309-4ba3-bee1-94e01ba66420,NaN,United States,America/Los_Angeles,20
2,98d8ded2-f96a-4104-a695-88405e8ab68b,NaN,France,Europe/Paris,5
3,9a1d42b1-b484-49bc-bfe7-f8b21058b809,45042,United States,America/Chicago,10
4,deeb0ef2-123b-41e1-bacf-e499b49ea4f4,45042,United Kingdom,Europe/London,50

## Question n.1: Sum up readings for horror readers by day

In [20]:
m1 = pd.merge(reading, stories, on='story_id',how='inner')

In [21]:
horror_readings=m1[m1['category_one'] =='horror']

In [22]:
horror_readings.head()

,is_app_event,visitor_id,id,visit_id,tracking_time,created_at,story_id,user_id_x,user_id_y,teaser,title,cover,category_one,category_two
0,False,22ac4ffa-9ba4-4eb5-a027-48bc4fd67ef2,e855b15a-c0dd-4b5f-a82b-642ce6f32bcb,1ff3c16e-fc20-4319-8720-f64be2079f90,2017-06-29 21:49:49.490028,2017-06-29T21:49:49.492249,18965,NaN,5242,"A story of Horror, a story of Tragedy. Pain, v...",EXE,d69810df7ed140322435505f81cad7eb.jpg,horror,other
1,False,22ac4ffa-9ba4-4eb5-a027-48bc4fd67ef2,5a1f4e84-0398-4343-a427-6fe37a12d5fa,1ff3c16e-fc20-4319-8720-f64be2079f90,2017-06-29 21:50:08.757155,2017-06-29T21:50:08.759166,18965,NaN,5242,"A story of Horror, a story of Tragedy. Pain, v...",EXE,d69810df7ed140322435505f81cad7eb.jpg,horror,other
2,False,22ac4ffa-9ba4-4eb5-a027-48bc4fd67ef2,76de6153-1cf3-42f3-9760-66640dab3625,1ff3c16e-fc20-4319-8720-f64be2079f90,2017-06-29 21:50:14.990401,2017-06-29T21:50:14.993954,18965,NaN,5242,"A story of Horror, a story of Tragedy. Pain, v...",EXE,d69810df7ed140322435505f81cad7eb.jpg,horror,other
3,False,22ac4ffa-9ba4-4eb5-a027-48bc4fd67ef2,cbde3a3f-61ad-4e66-a700-378ef8abf0e7,1ff3c16e-fc20-4319-8720-f64be2079f90,2017-06-29 21:49:57.767483,2017-06-29T21:49:57.770071,18965,NaN,5242,"A story of Horror, a story of Tragedy. Pain, v...",EXE,d69810df7ed140322435505f81cad7eb.jpg,horror,other
4,False,ba1c950c-4935-453a-9417-0f41e4781624,b5c31948-22fc-4a0c-8614-4734ded755fe,b9be2c17-36d8-4595-933f-2ce96315c5a4,2015-11-25 00:04:34.687872,2015-11-25T00:04:34.687872,18965,NaN,5242,"A story of Horror, a story of Tragedy. Pain, v...",EXE,d69810df7ed140322435505f81cad7eb.jpg,horror,other

In [23]:
horror_readings=horror_readings[['visitor_id','id','visit_id','tracking_time']]

In [24]:
horror_readings['date'] = horror_readings.tracking_time.dt.date

In [25]:
horror_readings = horror_readings.groupby('date').agg('count')
horror_readings

            visitor_id  id  visit_id  tracking_time
date
2015-08-11           2   2         2              2
2015-08-13           1   1         1              1
2015-11-10           1   1         1              1
2015-11-25           5   5         5              5
2016-01-30          14  14        14             14
2016-02-15           1   1         1              1
2016-02-21           7   7         7              7
2016-02-23           4   4         4              4
2016-03-02           1   1         1              1
2016-04-17          11  11        11             11
2016-05-13           3   3         3              3
2016-07-16           4   4         4              4
2016-09-15           4   4         4              4
2016-11-04           1   1         1              1
2016-11-06           2   2         2              2
2016-11-08           3   3         3              3
2016-11-10           2   2         2              2
2016-12-14           1   1         1              1
2016-12-20          10  10        10             10
2016-12-25           5   5         5              5
2017-01-06           7   7         7              7
2017-01-10           3   3         3              3
2017-01-13           1   1         1              1
2017-02-08           1   1         1              1
2017-02-22          20  20        20             20
2017-02-28           1   1         1              1
2017-04-09           5   5         5              5
2017-04-25           4   4         4              4
2017-04-27           5   5         5              5
2017-05-09           8   8         8              8
2017-05-10           4   4         4              4
2017-05-20           2   2         2              2
2017-05-25           5   5         5              5
2017-06-04           6   6         6              6
2017-06-07           4   4         4              4
2017-06-12           3   3         3              3
2017-06-29           4   4         4              4
2017-08-12           5   5         5              5
2017-08-14           4   4         4              4
2017-08-19           1   1         1              1
2017-08-28           1   1         1              1
2017-08-29           9   9         9              9

In [17]:
horror_readings['n_readings/day'] = horror_readings['tracking_time']

In [18]:
horror_readings=horror_readings[['n_readings/day']]

## Printing the number of readings per day

In [19]:
print(horror_readings)

            n_readings/day
date
2015-08-11               2
2015-08-13               1
2015-11-10               1
2015-11-25               5
2016-01-30              14
2016-02-15               1
2016-02-21               7
2016-02-23               4
2016-03-02               1
2016-04-17              11
2016-05-13               3
2016-07-16               4
2016-09-15               4
2016-11-04               1
2016-11-06               2
2016-11-08               3
2016-11-10               2
2016-12-14               1
2016-12-20              10
2016-12-25               5
2017-01-06               7
2017-01-10               3
2017-01-13               1
2017-02-08               1
2017-02-22              20
2017-02-28               1
2017-04-09               5
2017-04-25               4
2017-04-27               5
2017-05-09               8
2017-05-10               4
2017-05-20               2
2017-05-25               5
2017-06-04               6
2017-06-07               4
2017-06-12               3
2017-06-29               4
2017-08-12               5
2017-08-14               4
2017-08-19               1
2017-08-28               1
2017-08-29               9

## Question 1a: how much did the readers read?

In [20]:
horror_readings=m1[m1['category_one'] =='horror']

In [21]:
horror_readings=horror_readings[['visitor_id','id','visit_id','tracking_time']]

In [22]:
horror_readings=horror_readings.groupby('visitor_id').size()

In [23]:
nread_read=horror_readings.reset_index(name='n.readings/reader')

## Print the number of readings for each reader

In [24]:
print(nread_read)

                              visitor_id  n.readings/reader
0   03de779b-b17d-45fb-a3b7-4d07ba29a36d                  8
1   0671cdb6-cd7f-4627-ac42-9b8925028adc                  2
2   1105b9f1-1ff3-4b21-821b-708ac55937d9                  5
3   134876a8-8b8a-4e67-a28e-55985cfdc547                  1
4   22ac4ffa-9ba4-4eb5-a027-48bc4fd67ef2                  4
5   2cb87c59-1c14-4798-8b24-f8e2e0c5f589                 20
6   317659bf-3656-4738-8a26-4d53a6ceccd9                  4
7   3362d41b-dc8a-4b56-8d8c-f3a7ee1bcc93                  1
8   3b31e238-d56f-4c3a-a3e2-e904464a57ce                  5
9   3e04a232-05e0-45e3-bfb8-4abd6d079531                  2
10  3e9a7ba0-77b5-4d44-b791-3f378a25f5da                  7
11  4224113c-5c00-4475-9cbd-e169191f8ef4                  4
12  46c946e0-e512-433a-8493-c07df8e49d36                  3
13  47dfe86b-6acb-462e-9570-c9604d9e68cb                  4
14  51516f88-b1b0-456b-951b-aae27e74181b                  8
15  59791974-632c-410a-897c-673e21953469                  2
16  5af581c7-e093-48a4-9420-b7962cd8ecf8                  4
17  64c69efa-1c0d-41e5-a0e2-7d10f70e30f0                  1
18  65e6b2e9-bb7e-460e-b8de-fea9f266a4b0                  5
19  7e097650-a4d2-4305-95b6-18d0777e8a30                  1
20  7f5e1ee2-cc5f-407d-a3c2-106aa32e6bab                  1
21  96a2009e-ad4d-47c1-b38d-bcae9c19f61b                  4
22  9c08d2a3-7ae3-4383-8242-6e3f58a16d55                  5
23  9d3e2048-24ce-4170-94a2-6fee3bc9eb52                  2
24  a127022c-2f4f-4ab8-8583-14146dcd876c                 10
25  a1fab94d-2e34-4dff-80b5-76eea14e5791                  4
26  a4362b78-2a47-47e9-97af-2189bc69ea3e                  3
27  a94778b4-8399-4fec-bd84-b1a92e38eb6f                  3
28  a9f6adc2-0b07-465b-ab17-122f061c6220                  1
29  aaad339a-1419-4907-a1cf-65acf9b2a263                  3
30  ba1c950c-4935-453a-9417-0f41e4781624                  5
31  bcae9f96-770c-447f-9c1c-0a508a7d557a                  1
32  c052763d-0d0e-4241-9924-71ec537b2597                  4
33  c479c3f1-f9d0-416a-9b3c-76331de592d2                 11
34  c66c9fc2-881f-4d53-b58a-379d5859f77c                  1
35  cc4841e7-22a7-47fa-ade1-3d2ee1dad22f                  4
36  d13c0e5a-7ada-430c-bd27-f94340b360b7                  9
37  d2026c51-6bd7-43dc-9cd8-bcf000cea3c6                  1
38  d38ec082-511e-4997-88ce-2d4df1ff6296                  6
39  dad5dc5f-adc1-4af9-a29a-693b36a25178                  1
40  f2c8eef5-d239-406a-bfc7-be10635bccb9                  1
41  f7c6c85a-b149-421b-b35c-823ddc7d5984                 14

## Question 1b: how many readers are there?

In [25]:
len(horror_readings)

42

## Question 1c: what country are the readers from?

In [26]:
horror_readings=m1[m1['category_one'] =='horror']
#horror_readings.rename(columns={'visit_id':'visitor_id','visitor_id':'reader'})

In [27]:
m2=pd.merge(horror_readings,visits, left_on='visit_id',right_on='visitor_id')

In [28]:
origin=m2[['visitor_id_x','country']]

In [29]:
origin=origin.drop_duplicates()

In [30]:
origin

                             visitor_id_x         country
0    22ac4ffa-9ba4-4eb5-a027-48bc4fd67ef2   United States
4    ba1c950c-4935-453a-9417-0f41e4781624   United States
9    d2026c51-6bd7-43dc-9cd8-bcf000cea3c6   United States
10   f7c6c85a-b149-421b-b35c-823ddc7d5984  United Kingdom
24   cc4841e7-22a7-47fa-ade1-3d2ee1dad22f   United States
28   3e9a7ba0-77b5-4d44-b791-3f378a25f5da  United Kingdom
35   a9f6adc2-0b07-465b-ab17-122f061c6220   United States
36   c479c3f1-f9d0-416a-9b3c-76331de592d2  United Kingdom
47   96a2009e-ad4d-47c1-b38d-bcae9c19f61b  United Kingdom
51   47dfe86b-6acb-462e-9570-c9604d9e68cb   United States
55   3e04a232-05e0-45e3-bfb8-4abd6d079531   United States
57   59791974-632c-410a-897c-673e21953469          Canada
59   aaad339a-1419-4907-a1cf-65acf9b2a263   United States
62   a127022c-2f4f-4ab8-8583-14146dcd876c          Canada
72   1105b9f1-1ff3-4b21-821b-708ac55937d9          France
77   134876a8-8b8a-4e67-a28e-55985cfdc547   United States
78   4224113c-5c00-4475-9cbd-e169191f8ef4          France
82   a94778b4-8399-4fec-bd84-b1a92e38eb6f   United States
85   2cb87c59-1c14-4798-8b24-f8e2e0c5f589   United States
105  bcae9f96-770c-447f-9c1c-0a508a7d557a   United States
106  dad5dc5f-adc1-4af9-a29a-693b36a25178         Romania
107  3b31e238-d56f-4c3a-a3e2-e904464a57ce  United Kingdom
112  7e097650-a4d2-4305-95b6-18d0777e8a30   United States
113  5af581c7-e093-48a4-9420-b7962cd8ecf8   United States
117  65e6b2e9-bb7e-460e-b8de-fea9f266a4b0   United States
122  51516f88-b1b0-456b-951b-aae27e74181b   United States
130  a1fab94d-2e34-4dff-80b5-76eea14e5791   United States
134  9d3e2048-24ce-4170-94a2-6fee3bc9eb52   United States
136  03de779b-b17d-45fb-a3b7-4d07ba29a36d  United Kingdom
141  d38ec082-511e-4997-88ce-2d4df1ff6296       Australia
147  c052763d-0d0e-4241-9924-71ec537b2597   United States
154  9c08d2a3-7ae3-4383-8242-6e3f58a16d55   United States
159  317659bf-3656-4738-8a26-4d53a6ceccd9   United States
163  3362d41b-dc8a-4b56-8d8c-f3a7ee1bcc93       Australia
164  c66c9fc2-881f-4d53-b58a-379d5859f77c   United States
165  d13c0e5a-7ada-430c-bd27-f94340b360b7          Canada
174  f2c8eef5-d239-406a-bfc7-be10635bccb9  United Kingdom
175  a4362b78-2a47-47e9-97af-2189bc69ea3e  United Kingdom
178  7f5e1ee2-cc5f-407d-a3c2-106aa32e6bab     Philippines
179  46c946e0-e512-433a-8493-c07df8e49d36          Israel
182  64c69efa-1c0d-41e5-a0e2-7d10f70e30f0      Bangladesh
183  0671cdb6-cd7f-4627-ac42-9b8925028adc   United States

## Print the country of origin of each reader

In [31]:
print(origin)

                             visitor_id_x         country
0    22ac4ffa-9ba4-4eb5-a027-48bc4fd67ef2   United States
4    ba1c950c-4935-453a-9417-0f41e4781624   United States
9    d2026c51-6bd7-43dc-9cd8-bcf000cea3c6   United States
10   f7c6c85a-b149-421b-b35c-823ddc7d5984  United Kingdom
24   cc4841e7-22a7-47fa-ade1-3d2ee1dad22f   United States
28   3e9a7ba0-77b5-4d44-b791-3f378a25f5da  United Kingdom
35   a9f6adc2-0b07-465b-ab17-122f061c6220   United States
36   c479c3f1-f9d0-416a-9b3c-76331de592d2  United Kingdom
47   96a2009e-ad4d-47c1-b38d-bcae9c19f61b  United Kingdom
51   47dfe86b-6acb-462e-9570-c9604d9e68cb   United States
55   3e04a232-05e0-45e3-bfb8-4abd6d079531   United States
57   59791974-632c-410a-897c-673e21953469          Canada
59   aaad339a-1419-4907-a1cf-65acf9b2a263   United States
62   a127022c-2f4f-4ab8-8583-14146dcd876c          Canada
72   1105b9f1-1ff3-4b21-821b-708ac55937d9          France
77   134876a8-8b8a-4e67-a28e-55985cfdc547   United States
78   4224113c-5c00-4475-9cbd-e169191f8ef4          France
82   a94778b4-8399-4fec-bd84-b1a92e38eb6f   United States
85   2cb87c59-1c14-4798-8b24-f8e2e0c5f589   United States
105  bcae9f96-770c-447f-9c1c-0a508a7d557a   United States
106  dad5dc5f-adc1-4af9-a29a-693b36a25178         Romania
107  3b31e238-d56f-4c3a-a3e2-e904464a57ce  United Kingdom
112  7e097650-a4d2-4305-95b6-18d0777e8a30   United States
113  5af581c7-e093-48a4-9420-b7962cd8ecf8   United States
117  65e6b2e9-bb7e-460e-b8de-fea9f266a4b0   United States
122  51516f88-b1b0-456b-951b-aae27e74181b   United States
130  a1fab94d-2e34-4dff-80b5-76eea14e5791   United States
134  9d3e2048-24ce-4170-94a2-6fee3bc9eb52   United States
136  03de779b-b17d-45fb-a3b7-4d07ba29a36d  United Kingdom
141  d38ec082-511e-4997-88ce-2d4df1ff6296       Australia
147  c052763d-0d0e-4241-9924-71ec537b2597   United States
154  9c08d2a3-7ae3-4383-8242-6e3f58a16d55   United States
159  317659bf-3656-4738-8a26-4d53a6ceccd9   United States
163  3362d41b-dc8a-4b56-8d8c-f3a7ee1bcc93       Australia
164  c66c9fc2-881f-4d53-b58a-379d5859f77c   United States
165  d13c0e5a-7ada-430c-bd27-f94340b360b7          Canada
174  f2c8eef5-d239-406a-bfc7-be10635bccb9  United Kingdom
175  a4362b78-2a47-47e9-97af-2189bc69ea3e  United Kingdom
178  7f5e1ee2-cc5f-407d-a3c2-106aa32e6bab     Philippines
179  46c946e0-e512-433a-8493-c07df8e49d36          Israel
182  64c69efa-1c0d-41e5-a0e2-7d10f70e30f0      Bangladesh
183  0671cdb6-cd7f-4627-ac42-9b8925028adc   United States